<style>
    #user-update {
        padding: 20px 25px 25px 0;
    }
    /*@page { size: portrait; }*/

</style>
<div class="layui-fluid" id="generalApprovalSee-see">
    <!-- 子页内容框 -->
    <!-- <div class="zy_contentbox"> -->
    <!-- zy_content -->
    <!--startprint-->
    <div class="layui-field-box">
        <div class="zy_contentbox">
            <!-- zy_content -->
            <div class="zy_content fix">

                <div class="zy_conbox">
                    <div class="zy_newsxq">
                        <div class="xq_tit bdb_d">
                            <h1 id="olTitle">[[${#strings.defaultString(generalApprovalBean.applicationTitle,'无标题')}]]</h1>
                            <p><span id="olReleaseTime">申请时间：[[${#strings.defaultString(generalApprovalBean.createTime,'时间')}]]</span>&nbsp;&nbsp;<span id="technicalInformationTypeName">申请人：[[${#strings.defaultString(generalApprovalBean.applicantUserName,'无发件人')}]]</span>&nbsp;</p>
                        </div>
                        <hr>
                        <div class="txt" id="olContent">
                            <p id="enclosureUrl"></p>
                            <p id="approvalImageUrl"></p>

                        </div>
                    </div>
                </div>

            </div>
            <!-- zy_content end -->
        </div>

    </div>
    <!--endprint-->
    <!-- zy_content end -->
    <!-- </div> -->
    <!-- 内容框end -->
    <div class="layui-form-item febs-hide">
        <!--            <button class="layui-btn"  onclick="preview()"  id="submit" lay-submit="" lay-filter="submit"><i class="fa fa-floppy-o">&nbsp;</i>确认打印</button>-->

        <button class="layui-btn" lay-submit=""  lay-filter="generalApprovalSee-print-form-submit" id="submit"></button>
        <!--            <button type="reset" class="layui-btn" id="reset"></button>-->
    </div>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form','laydate','upload'], function () {
        let $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            generalApprovalBean = [[${generalApprovalBean}]],
            validate = layui.validate,
            laydate = layui.laydate,
            upload = layui.upload,
            dataPermissionXmlSelect,
            roleXmSelect,
            deptXmlSelect;
        if(generalApprovalBean.approvalEnclosureUrl != null){
            $("#olContent").append('<strong>审批附赠附件：</strong><a href="'+generalApprovalBean.approvalEnclosureUrl+'">下载附件</a>' )
        }
        if(generalApprovalBean.approvalImageUrl != null){
            $("#olContent").append('<br /><br /><strong>审批附赠图片：</strong><img src="'+generalApprovalBean.approvalImageUrl+'" style="width:500px;height:400px"/>' )
        }
        $("#olContent").append("<br /><br /><strong>申请内容：</strong>"+generalApprovalBean.applicationContent)
        $("#olContent").append("<br /><br /><strong>审批详情：</strong>"+generalApprovalBean.approvalDetails)


        var stateFlg = generalApprovalBean.approvalResults
        if (stateFlg == '1') {

            $("#olContent").append("<br /><br /><strong>审批结果：</strong><p style=' color:blue;'>同意</p>")

        } else if (stateFlg == '0') {
            $("#olContent").append("<br /><br /><strong>审批结果：</strong><p style=' color:blue;'>不同意</p>")

        }
        else if (stateFlg == '2') {
            $("#olContent").append("<br /><br /><strong>审批结果：</strong><p style=' color:blue;'>待审批</p>")

        }
        $("#olContent").append("<br /><br /><strong>审批意见：</strong>"+generalApprovalBean.approvalComments)

        $("#olContent").append("<br /><br /><strong>审批时间：</strong>"+generalApprovalBean.approvalTime)


        $("#olContent").append("<br /><br /><strong>签字：</strong><br /><br /><img src='"+generalApprovalBean.sign+"' /> ")

        //打印页面
        function preview() {
            // $("#image").css("marginTop","900px")
            // var v = document.getElementById("image");
            //
            // v.style.marginLeft="";
            // v.style.marginTop="";
            //
            // v.style.marginTop="120px";
            // v.style.marginLeft="890px";
            // v.style.position="fixed";
            // v.style.left="0";
            // v.style.top="0";
            // document.getElementById("personnelFiles-print").attr("src",personnelFilesBean.personnelFilesPhotoUrl);
            //直接调用浏览器打印功能

            bdhtml=window.document.body.innerHTML;

            // bdhtml= document.getElementById("personnelFiles-print").innerHTML;
            // alert(bdhtml)

            //定义打印区域起始字符，根据这个截取网页局部内容
            sprnstr="<!--startprint-->"; //打印区域开始的标记
            eprnstr="<!--endprint-->";   //打印区域结束的标记
            prnhtml=bdhtml.substr(bdhtml.indexOf(sprnstr)+17);
            prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));
            //还原网页内容
            // alert(prnhtml)
            // document.getElementById("personnelFiles-print").innerHTML=prnhtml
            window.document.body.innerHTML=prnhtml;

            //开始打印
            window.print();
            window.location.reload()


        }
        form.on('submit(generalApprovalSee-print-form-submit)', function (data) {
            preview()
            return false;
        });
        $('#febs-generalApproval').find('#query').click();

    });
</script>